:root {
  --background: #c8dce5;
  --text-color: white;
}

body {

  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] minmax(0, 800px) [hero-start] minmax(0, 800px) [content-end] 1fr [hero-end];
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.header {
  background-color: var(--background);
  color: var(--text-color);
  padding: 1rem 3rem 5rem 3rem;
  grid-column: full;

  nav {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    justify-self: center;
    width: 100%;
    grid-column: content;
    gap: 7rem;
    align-items: center;
    justify-content: space-between;

    .logo {
      cursor: pointer;
      width: 30px;
      height: 30px;
      align-items: center;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 3rem;
      display: flex;
      padding: 0;
      align-items: center;
    }

    li {
      cursor: pointer;

      font-size: 22px;
    }

    a {
      text-decoration: none;
      color: white;
      padding: 0.3rem 1rem;
    }

    a:hover {
      background: white;
      color: var(--background);

      border-radius: 20px;
    }
  }

  .icons {
    display: flex;
    gap: 1rem;
    align-items: center;

    > * {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }
}

.bold {
  font-weight: bold;
}

.hero {
  /* display: grid;
  grid-template-columns: 1fr 1fr auto;
  padding: 0rem 5rem 5rem 5rem; */

  display: grid;
  grid-column: full;
  /* grid-template-rows: [hero-start] auto 1fr [hero-end] 1fr; */
  background-color: var(--color-black);
  color: var(--color-white);
  grid-template-columns: auto;
  grid-column: content;
  padding-block: 0;
}

.big-image {
  display: grid;
  grid-row: 1 / 6;
  grid-column: 2;
}

.info {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  max-width: 700px;
  /* max-width: 65ch; */

  /* justify-self: start; or center / end depending on desired horizontal position */
  /* align-self: start; */
}

.button {
  display: inline-block;
  padding: 0.6rem 3rem;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  border-radius: 44px;

  justify-self: start; /* or center / end depending on desired horizontal position */
  align-self: start;
  grid-row: 3;
}

.button:hover {
  background: white;
  color: var(--background);
}

.switch-watch {
  display: grid;
  grid-column: content;
  justify-self: center;
  align-self: center;
  grid-column: 2;
  grid-row: 1/6;
  padding: 0rem 5rem 0rem 0rem;
}

.watches {
  display: flex;
  gap: 4rem;
  justify-content: center;
  grid-row: 5;
  grid-column: 2/3;

  > * {
    width: 100px;
  }
}

.color-button {
  display: grid;
  align-content: center;
  box-sizing: border-box;

  > *:hover {
    cursor: pointer;
    scale: 1.1;
  }
}

.color-button-group {
  display: grid;
  gap: 1rem;
  grid-column: 3;
  grid-row: 2;
  align-content: center;
}

.active-button {
  border: 1.5px solid white;
  transform: scale(1.5);
}

.blue,
.green,
.pink {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  justify-self: start; /* or center / end depending on desired horizontal position */
  align-self: start;
}

.blue {
  background-color: #404354;
}
.green {
  background-color: #58d7c4;
}
.pink {
  background-color: #f2cec6;
}

.divider {
  width: 1px !important;
}
